.tag {
  width: 7rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f3f0;
  font-weight: 400;
  background-color: #b42026;
  border-radius: 1.25rem;
  text-align: center;
}
